:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,0.06);
  --line: 2px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-grey-dark-2);
  min-height: 100vh; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__button {
    background-color: var(--color-grey-light-2);
    border: none;
    cursor: pointer; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    margin-top: 3px;
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border-radius: 100px;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    width: 90%;
    transition: all .2s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::placeholder {
      font-weight: 100;
      color: var(--color-grey-dark-2); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2);
    cursor: pointer; }
  .user-nav__icon {
    margin-top: .8rem;
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  margin-top: 3.5rem;
  list-style: none;
  font-size: 1.4rem; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 1.5rem;
    position: relative;
    z-index: 10; }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor;
    margin: 0 2rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
    .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.15s, width 0.3s 0.15s cubic-bezier(0.95, -0.05, 0.08, 0.94), background-color 0.1s; }
    .side-nav__item:hover::before, .side-nav__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .side-nav__item:active::before {
      background-color: var(--color-primary-light); }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  padding: 2.5rem;
  text-align: center; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__icon-location {
    margin-right: 1rem; }
  .overview__icon-location, .overview__icon-star {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    font-size: 1.4rem;
    display: flex;
    align-items: center; }
  .overview__rating {
    margin-left: 3rem;
    background-color: var(--color-primary);
    align-self: stretch;
    color: #fff;
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -5px; }
  .overview__rating-count {
    text-transform: uppercase;
    font-size: 0.8rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  background-color: transparent;
  transition: all .2s; }
  .btn-inline span {
    margin-left: 8px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 12px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem; }
    .list__item::before {
      content: "";
      display: inline-block;
      height: 1.2rem;
      width: 1.2rem;
      margin-right: 0.7rem;
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-size: cover; }

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    box-sizing: content-box;
    border: 3px solid #fff; }
    .recommend__photo:not(:last-of-type) {
      margin-right: -1.5rem; }

.review {
  background-color: #fff;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  .review::before {
    content: "\201C";
    font-family: sans-serif;
    font-size: 30rem;
    color: var(--color-grey-light-2);
    z-index: 1;
    line-height: 0;
    position: absolute;
    top: 11.3rem;
    left: -1.3rem; }
  .review__rating {
    font-size: 2rem;
    color: var(--color-primary); }
  .review__text {
    position: relative;
    z-index: 10; }
  .review__user {
    margin-top: 2rem;
    display: flex;
    align-items: center; }
  .review__user-box {
    margin-right: auto; }
  .review__user-date {
    font-size: 1.1rem; }
  .review__user-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem; }
  .review__user-photo {
    margin-right: 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%; }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  .cta__book-now {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .btn > * {
    height: 100%;
    width: 100%;
    transition: all .2s;
    display: inline-block; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
    .btn:hover .btn__visible {
      transform: translateY(100%); }
    .btn:hover .btn__invisible {
      top: 0; }
  .btn:focus {
    animation: pulsate 1s infinite;
    outline: none; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    padding: 2rem 0;
    position: absolute;
    left: 0;
    top: -100%; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.detail {
  font-size: 1.4rem;
  padding: 4.5rem;
  display: flex;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem; }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
